*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SB-ag-L';
    /* background-color: #333333; */
    scroll-behavior: smooth;
}

ul,
li,
a {
    text-decoration: none;
    color: #b61c1c;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

@font-face {
    font-family: 'SB-ag-M';
    src: url(../font/SB-ag-M.ttf);
}

@font-face {
    font-family: 'SB-ag-L';
    src: url(../font/SB-ag-L.ttf);
}

@font-face {
    font-family: 'SB-ag-B';
    src: url(../font/SB-ag-B.ttf);
}

::-webkit-scrollbar {
    appearance: none;
    display: none;
}

section.landing {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section.landing video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.dummy {
    height: 1000vh;
}

div.logo-wrap {
    position: absolute;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(200%);
    transition: 0.1s;
}

div.logo-wrap.hidden {
    display: none;
}

div.logo-wrap .logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
    background: none;
}

div.logo-wrap .logo .symbol {
    height: 100px;
    width: 100px;
    background: url(../img/logo-s-white-big.png) no-repeat center / contain;
}

div.logo-wrap .logo .text {
    width: 100px;
    height: 20px;
    background: url(../img/logo-t-white.png) no-repeat center / contain;
}

.header-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 12;

    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
}

.header-wrap.on {
    width: 100%;
    opacity: 1;

}

.header-wrap .logo {
    width: 100px;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
    pointer-events: none;
    background: url(../img/logo-s-white.png) no-repeat center / contain;
}

.header-wrap.on .logo {
    opacity: 1;
    pointer-events: all;
}

.header-wrap .menu-box {
    display: flex;
    gap: 16px;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
    pointer-events: none;
    align-items: center;
}

.header-wrap.on .menu-box {
    opacity: 1;
    pointer-events: all;
}

.header-wrap .menu-box .menu {
    font-size: 25px;
    font-weight: 700;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0 16px;
    cursor: pointer;
}

@keyframes move {
    to {
        transform: translateX(calc(-100% + 100vw));
        left: 0px;
    }
}

@keyframes moveback {
    to {
        transform: translateX(calc(+100% - 100vw));
        left: 0px;
    }
}


#sectionPin {
    height: 1200vw;
    overflow: visible;
    background-color: #333333;
}

#sectionPin.not-chrome {
    height: auto;
}

.pin-wrap-sticky {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

#sectionPin.not-chrome .pin-wrap-sticky {
    position: static;
    overflow-x: auto;
    height: auto;
}

.pin-wrap {
    height: 100vh;
    width: 1200vmax;
    padding-top: 30vh;
}

#sectionPin.not-chrome .pin-wrap {
    padding-top: 250px;
    width: 100%;
    /* height: 1100vh; */
    height: auto;
    position: relative;
}



.pin-wrap .fade {
    position: sticky;
    left: 120px;
    top: 30vh;
}

#sectionPin.not-chrome .pin-wrap .fade {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    /* background-color: #333333; */
    position: absolute;
    /* top: 30vh; */
    /* padding: min(0 100px, 0 10vw); */
    opacity: 0.03;
}

.pin-wrap .fade .title {
    width: fit-content;
    font-size: 250px;
    padding-left: 120px;
    font-family: 'sb-ag-b';
    color: white;
}

.pin-wrap .fade .title span {
    font-size: 250px;
    font-family: 'sb-ag-b';
}

#sectionPin.not-chrome .pin-wrap .fade .title {
    padding-left: 0;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
}

#sectionPin.not-chrome .pin-wrap .fade .title span {
    font-family: 'sb-ag-b';
    font-size: 250px;
}


.pin-wrap .slide {
    display: flex;
}

#sectionPin.not-chrome .slide {
    flex-direction: column;
}

.pin-wrap .slide .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
}

#sectionPin.not-chrome .pin-wrap .slide .text {
    height: 50vh;
    align-items: flex-end;
}

#sectionPin.not-chrome .pin-wrap .slide .text .sub-title {
    font-size: 60px;
    max-width: calc(100% - 30px);
    width: auto;
    text-align: right;
    padding: 0 40px 0 0px;
}

#sectionPin.not-chrome .pin-wrap .slide .text .desc {
    max-width: calc(100% - 30px);
    width: auto;
    text-align: right;
    padding: 0 40px 0 0px;
}

#sectionPin.not-chrome .pin-wrap .slide .text:nth-child(n+5):nth-child(-n+8) {
    align-items: flex-start;

}

#sectionPin.not-chrome .pin-wrap .slide .text:nth-child(n+5):nth-child(-n+8) .sub-title,
#sectionPin.not-chrome .pin-wrap .slide .text:nth-child(n+5):nth-child(-n+8) .desc {
    text-align: left;
    padding: 0 0 0 40px;
}

.pin-wrap .slide .text .sub-title {
    font-family: 'sb-ag-b';
    font-size: 60px;
    color: white;
    padding-left: 120px;
}

.pin-wrap .slide .text .desc {
    font-family: 'sb-ag-l';
    font-size: 24px;
    color: white;
    padding-left: 120px;
}

.portfolio {
    height: calc(100vh + 1px);
    background-color: #333333;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
}

.portfolio .t5 {
    transition: 0.5s;
    transition-delay: 0s;
}

.portfolio .window {
    width: 95vmin;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: perspective(900px) translate(-50%, -50%);
    perspective-origin: center;
    /* animation: window 10s infinite; */
    background: url(../img/window.png) no-repeat center / contain;
    border-radius: 6px;
    transform-style: preserve-3d;
    z-index: 10;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.portfolio .perspective {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.14);
    color: #ffffff;
    font-family: 'sb-ag-m';
    transition: 0.2s;
    transition-delay: 0.6s;
}

.portfolio .perspective.on {
    transform: translate(50%, -50%);
    transition: 0.2s;
    transition-delay: 0s;
}

.portfolio .window.on {
    transition-delay: 0s;
    transform: perspective(900px) translate(-50%, -50%) rotate(-30deg) skew(25deg);
}

.portfolio .window.on .t5 {
    transition-delay: 0.5s;
    transform: translate(20px, -20px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.portfolio .window .content {
    margin-top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    display: flex;
}

.portfolio .window .content .side-bar {
    background-color: #000d29;
    width: 87px;
    height: calc(100%);
    position: absolute;
    z-index: 20;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.portfolio .window .content .main-content {
    width: calc(100%);
    height: 100%;
    left: 0;
    position: relative;
    background-color: #f0f0f0;
}

.portfolio .window .content .side-bar .logo {
    background: url(../img/logo-s-white.png) no-repeat center / contain;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;

    background-color: #000d29;
}

.portfolio .window .content .side-bar .side-button {
    padding: 4px 4px;
    display: flex;
    gap: 4px;
    border-radius: 2px;
    background-color: #000d29;

}

.portfolio .window .content .side-bar .side-button.on {
    background-color: #5282FF;
}

.portfolio .window .content .side-bar .side-button.on .text {
    color: #ffffff;
}

.portfolio .window .content .side-bar .side-button .icon {
    width: 8px;
    height: 8px;
}

.portfolio .window .content .side-bar .side-button .icon span {
    width: 100%;
    height: 100%;
}

.portfolio .window .content .side-bar .side-button:nth-child(2) .icon {
    background: url(../icon/side1.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(3) .icon {
    background: url(../icon/side2.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(4) .icon {
    background: url(../icon/side3.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(5) .icon {
    background: url(../icon/side4.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(6) .icon {
    background: url(../icon/side5.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(7) .icon {
    background: url(../icon/side6.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(8) .icon {
    background: url(../icon/side7.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(9) .icon {
    background: url(../icon/side8.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(10) .icon {
    background: url(../icon/side9.svg) no-repeat center / contain;
}

.portfolio .window .content .side-bar .side-button:nth-child(11) .icon {
    background: url(../icon/side10.svg) no-repeat center / contain;
}


.portfolio .window .content .side-bar .side-button .text {
    color: #93A2C9;
    font-size: 8px;
}

.header {
    width: calc(100% - 87px);
    height: 30px;
    background-color: white;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 8px;
    align-items: center;

}

.header .icon {
    width: 10px;
    height: 10px;
    border-radius: 4px;
}

.header>div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header>div>div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header>div>.select {
    width: 100px;
    border: 1px solid #ededed;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.header>div>.select .icon {
    background: url(../icon/header1.svg) no-repeat center / contain;
}

.header>div>.input {
    width: 140px;
    border: 1px solid #ededed;
    padding: 5px;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #767676;
    display: flex;
    justify-content: space-between;
}

.header>div>.input .icon {
    background: url(../icon/header2.svg) no-repeat center / contain;
}

.header>div>.alarm {
    background: url(../icon/header3.svg) no-repeat center / contain;
}

.header>div>.setting {
    background: url(../icon/header4.svg) no-repeat center / contain;
}

.header>div>.mypage .icon {
    background: url(../icon/header5.svg) no-repeat center / contain;
}

.tab-list {
    position: absolute;
    top: 40px;
    right: 0;
    width: calc(100% - 107px);
    height: 20px;
    display: flex;
    gap: 2px;
}

.tab-list .tab {
    height: 100%;
    width: 60px;

}

.tab-list .tab.on {
    background: url(../img/tab1.png) no-repeat center / contain;
}

.tab-list .tab:nth-child(2) {
    background: url(../img/tab2.png) no-repeat center / contain;
}

.tab-list .tab:nth-child(3) {
    background: url(../img/tab2.png) no-repeat center / contain;
}

.filter-list {
    position: absolute;
    top: 60px;
    width: calc(100% - 87px - 20px);
    right: 10px;
    height: 50px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.filter-list .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-list .top .left {
    width: 230px;
    height: 25px;
    background: url(../img/filter-top-l.png) no-repeat center / contain;
    border-radius: 6px;
    overflow: hidden;

}

.filter-list .top .right {
    width: 110px;
    height: 20px;
    background: url(../img/filter-top-r.png) no-repeat center / contain;
    border-radius: 6px;
    overflow: hidden;
}

.filter-list .bottom {
    width: 100%;
    height: 20px;
    background: url(../img/filter-bot.png) no-repeat center / contain;
    border-radius: 6px;
    overflow: hidden;
}

.content-wrap {
    display: grid;
    grid-template-areas: "d c"
        "b a";
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: calc(100% - 87px - 20px);
    right: 10px;
    position: absolute;
    height: 72%;
    top: 115px;
    grid-template-rows: repeat(2, 1fr);
}

.content-wrap .content-box:nth-child(1) {
    grid-area: a;
}

.content-wrap .content-box:nth-child(2) {
    grid-area: b;
}

.content-wrap .content-box:nth-child(3) {
    grid-area: c;
}

.content-wrap .content-box:nth-child(4) {
    grid-area: d;
}

.content-wrap .content-box {
    display: grid;
    grid-template-areas: "a a b b"
        "c c . d"
        "e e e e"
        "f g h i"
        "j j k l";
    grid-template-columns: repeat(4, 1fr);
    background-color: #ffffff;
    border-radius: 8px;
    gap: 4px;
    width: 100%;
}

.content-wrap .content-box div {
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.content-wrap .content-box div:nth-child(1) {
    grid-area: a;
    background: url(../img/grid-a.png) no-repeat left / contain;
    width: 60%;

}

.content-wrap .content-box div:nth-child(2) {
    grid-area: b;
    background: url(../img/grid-b.png) no-repeat right / contain;
    width: 55%;
    margin-left: 45%;
}

.content-wrap .content-box div:nth-child(3) {
    grid-area: c;
    background: url(../img/grid-c.png) no-repeat center / contain;
    width: 140px;
}

.content-wrap .content-box div:nth-child(4) {
    grid-area: d;
    background: url(../img/grid-d.png) no-repeat right / contain;
    width: 70px;
    margin-left: 22px;
}

.content-wrap .content-box div:nth-child(5) {
    grid-area: e;
    background: url(../img/grid-e.png) no-repeat center / contain;
    height: 3vmin;
}

.content-wrap .content-box div:nth-child(6) {
    grid-area: f;
    background: url(../img/grid-f.png) no-repeat center / contain;
    width: 50%;
}

.content-wrap .content-box div:nth-child(7) {
    grid-area: g;
    background: url(../img/grid-g.png) no-repeat right / contain;
    width: 50%;
    margin-left: 50%;
}

.content-wrap .content-box div:nth-child(8) {
    grid-area: h;
    background: url(../img/grid-h.png) no-repeat center / contain;
    width: 50%;
}

.content-wrap .content-box div:nth-child(9) {
    grid-area: i;
    background: url(../img/grid-i.png) no-repeat center / contain;
}

.content-wrap .content-box div:nth-child(10) {
    grid-area: j;
    background: url(../img/grid-j.png) no-repeat left / contain;
    height: 60%;
}

.content-wrap .content-box div:nth-child(11) {
    grid-area: k;
    background: url(../img/grid-k.png) no-repeat center / contain;
    height: 3vmin;
    width: 60%;
}

.content-wrap .content-box div:nth-child(12) {
    grid-area: l;
    background: url(../img/grid-l.png) no-repeat center / contain;
    height: 50%;
}

.content-wrap .content-box:not(:nth-child(4)) div {
    background: none;
    background-color: #efefef;
    border: 1px solid #f0f0f0;
}

section.history {
    height: calc(100vh + 1px);
    background-color: #333333;
    position: relative;
    margin-top: -1px;
}

section.history .history-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.history .history-wrap .text-box .stack-box {
    position: absolute;
    left: 0;
    width: 10px;
    height: 600px;
    background-color: #ffffff;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}


section.history .history-wrap .text-box {
    color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
    height: 600px;
    width: 600px;
    justify-content: space-between;

}

section.history .history-wrap .text-box .text {
    display: flex;
    gap: 16px;
    font-size: 30px;
    transform: translate(-15px, 0);
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}

section.history .history-wrap .text-box .text .desc {
    display: flex;
    gap: 16px;
    width: 450px;
    word-break: keep-all;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}

section.history .history-wrap .text-box .text span {
    font-size: 24px;
    color: #eb7188;
}

section.history .history-wrap .text-box .text::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}

section.history .history-wrap .text-box .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/logo-s-white-big.png) no-repeat center / contain;
    opacity: 1;
    transition-delay: 0.3s;
}

section.history.on .history-wrap .text-box .logo {
    opacity: 0.03;
    transition: 0.3s;
}

section.history.on .history-wrap .text-box .stack-box,
section.history.on .history-wrap .text-box .text,
section.history.on .history-wrap .text-box .text .desc,
section.history.on .history-wrap .text-box .text::before {
    opacity: 1;
}

@keyframes window {
    from {
        transform: perspective(1000px) translate(-50%, -50%) rotateX(70deg) rotateY(0deg) rotateZ(0deg);
    }

    30% {
        transform: perspective(1000px) translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    70% {
        transform: perspective(1000px) translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        transform: perspective(1000px) translate(-50%, -50%) rotateX(70deg) rotateY(0deg) rotateZ(0deg);
    }
}

@media screen and (max-width: 1366px) and (orientation:landscape) {
    section.landing video {
        width: auto;
        height: 100%;
    }

    .landing .content .sub-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1200px) and (orientation:landscape) {
    section.landing video {
        width: auto;
        height: 100%;
    }

    .pin-wrap .fade .title {
        font-size: 200px;
        padding: 0 20px;
    }

    .pin-wrap .slide .text .sub-title {
        font-size: 48px;
        padding: 0 20px;
        word-break: keep-all;
    }

    .pin-wrap .slide .text .desc {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1200px) and (orientation:portrait) {

    section.landing video {
        width: auto;
        height: 100%;
    }

    .pin-wrap {
        width: 1200vmin;
    }

    .pin-wrap .fade .title {
        padding: 0 20px;
    }

    .pin-wrap .slide .text .sub-title {
        padding: 0 20px;
        word-break: keep-all;
    }

    .pin-wrap .slide .text .desc {
        padding: 0 20px;
    }
}

@media screen and (max-height: 800px) and (orientation:landscape) {
    section.landing video {
        width: 100%;
        height: auto;
    }

    .content-wrap .content-box {
        gap: 2px;
    }

    .content-wrap .content-box div {
        height: 12px;
    }

    .content-wrap {
        height: 63%;
    }

    .content-wrap .content-box div:nth-child(3) {
        width: 100px;
    }

    .content-wrap .content-box div:nth-child(4) {
        width: 42px;
        margin-left: 27px;
    }

    .content-wrap .content-box div:nth-child(6) {
        width: 25%;
    }

    .content-wrap .content-box div:nth-child(8) {
        width: 25%;
    }

    .content-wrap .content-box div:nth-child(10) {
        height: 30px;
    }

    .content-wrap .content-box div:nth-child(11) {
        height: 100%;
    }

    .content-wrap .content-box div:nth-child(12) {
        height: 100%;
    }
}

@media screen and (max-width: 800px) and (orientation:portrait) {
    section.landing video {
        width: auto;
        height: 100%;
    }

    .content-wrap {
        height: 64%;
        top: 93px;
    }

    .content-wrap .content-box div {
        height: 15px;
    }

    .content-wrap .content-box div:nth-child(5) {
        height: 21px;
    }

    .content-wrap .content-box div:nth-child(10) {
        height: 30px;
    }

    .content-wrap .content-box div:nth-child(11) {
        width: 80%;
    }

    .content-wrap .content-box div:nth-child(12) {
        height: 100%;
    }

    .pin-wrap .slide {
        margin-top: 50px;
    }

    .pin-wrap .fade .title span {
        font-size: 250px;
    }

    .tab-list {
        top: 34px;
        height: 15px;
    }

    .filter-list {
        top: 49px;
        height: 40px;
        gap: 2px;
    }
}

@media screen and (max-height: 480px) and (orientation:landscape) {

    div.logo-wrap {
        width: 20vh;
    }

    div.logo-wrap .logo {
        gap: 8px;
    }

    div.logo-wrap .logo .symbol {
        width: 20vh;
        height: 20vh;
    }

    div.logo-wrap .logo .text {
        width: 20vh;
    }

    section.landing video {
        width: 100%;
        height: auto;
    }

    .header-wrap .logo {
        height: 40px;
        width: 40px;
    }

    .header-wrap .menu-box {
        gap: 0;
        height: 40px;
    }

    .header-wrap .menu-box .menu {
        font-size: 16px;
        padding: 0 8px;
    }

    .pin-wrap {
        padding-top: 25vh;
    }

    .pin-wrap .fade {
        top: 25vh;
    }

    .pin-wrap .fade .title {
        font-size: 100px;
        padding: 0 60px;
    }

    .pin-wrap .fade .title span {
        font-size: 70px;
    }

    .pin-wrap .slide .text .sub-title {
        font-size: 24px;
        padding: 0 60px;
        word-break: keep-all;
    }

    .pin-wrap .slide .text .desc {
        padding: 0 60px;
        font-size: 20px;
    }

    .portfolio .window.on .t5 {
        transform: translate(10px, -10px);
    }

    .portfolio .window {
        width: 80vmax;
    }

    .portfolio .window .content .side-bar {
        width: 40px;
        padding: 2px;
    }

    .portfolio .window .content .side-bar .side-button {
        padding: 1px;
        gap: 2px;
    }

    .portfolio .window .content .side-bar .side-button .text {
        font-size: 4px;
    }

    .portfolio .window .content .side-bar .side-button .icon {
        width: 4px;
        height: 4px;
    }

    .portfolio .window .content .side-bar .logo {
        height: 10px;
        margin-bottom: 4px;
    }

    .header {
        width: calc(100% - 37px);
        height: 15px;
    }

    .header>div>.select {
        width: 45px;
        font-size: 4px;
        padding: 2px;
        border-radius: 2px;
    }

    .header .icon {
        width: 4px;
        height: 4px;
    }

    .header>div>.input {
        width: 60px;
        padding: 2px;
        border-radius: 2px;
        font-size: 4px;
    }

    .header>div>div {
        gap: 2px;
        font-size: 4px;
    }

    .tab-list {
        top: 20px;
        height: 10px;
        gap: 4px;
        width: calc(100% - 50px);
    }

    .tab-list .tab {
        width: 30px;
    }

    .filter-list {
        top: 30px;
        height: 20px;
        gap: 1px;
        width: calc(100% - 50px);
        right: 3px;
    }

    .filter-list .top .left {
        height: 10px;
        width: 100px;
    }

    .filter-list .top .right {
        height: 10px;
        width: 50px;
    }

    .content-wrap {
        height: 64%;
        top: 52px;
        width: calc(100% - 50px);
        right: 3px;
    }

    .content-wrap .content-box div:nth-child(5) {
        height: 20px;
    }

    .portfolio .window.on .t5 {
        transform: translate(10px, -10px);
    }

    section.history .history-wrap .text-box {
        height: 300px;
        width: 300px;
    }

    section.history .history-wrap .text-box .stack-box {
        height: 300px;
        width: 4px;
    }

    section.history .history-wrap .text-box .text::before {
        width: 20px;
        height: 20px;
    }

    section.history .history-wrap .text-box .text span {
        font-size: 14px;
    }

    section.history .history-wrap .text-box .text {
        font-size: 20px;
        gap: 8px;
        transform: translate(-8px, 0);
    }

    section.history .history-wrap .text-box .text .desc {
        width: 230px;
    }
}

@media screen and (max-width: 480px) and (orientation:portrait) {
    .header-wrap {
        padding: 20px 20px 20px 20px;
        height: 120px;
    }

    .pin-wrap .slide {
        margin-top: 20px;
    }

    div.logo-wrap {
        width: 20vw;
    }

    div.logo-wrap .logo {
        gap: 8px;
    }

    div.logo-wrap .logo .symbol {
        width: 20vw;
        height: 20vw;
    }

    div.logo-wrap .logo .text {
        width: 20vw;
    }

    section.landing video {
        width: auto;
        height: 100%;
    }

    .header-wrap .logo {
        height: 40px;
        width: 40px;
    }

    .header-wrap .menu-box {
        gap: 0;
        height: 40px;
    }

    .header-wrap .menu-box .menu {
        font-size: 14px;
        padding: 0 8px;
    }

    .pin-wrap {
        padding-top: 30vh;
    }

    .pin-wrap .fade {
        top: 30vh;
    }

    .pin-wrap .fade .title {
        font-size: 100px;
        padding: 0 20px;
    }

    .pin-wrap .fade .title span {
        font-size: 100px;
    }

    #sectionPin.not-chrome .pin-wrap .fade .title {
        padding: 0;
    }

    #sectionPin.not-chrome .pin-wrap .fade .title span {
        font-size: 150px;
    }

    #sectionPin.not-chrome .pin-wrap .slide .text .sub-title {
        font-size: 24px;
    }

    #sectionPin.not-chrome .pin-wrap .slide .text .desc {
        font-size: 20px;
        word-break: keep-all;
    }

    .pin-wrap .slide .text .sub-title {
        font-size: 32px;
        padding: 0 20px;
        word-break: keep-all;
    }



    .pin-wrap .slide .text .desc {
        padding: 0 20px;
    }

    .portfolio .window .content {
        margin-top: 30px;
        height: calc(100% - 30px);
    }

    .portfolio .window .content .side-bar {
        width: 40px;
        padding: 2px;
    }

    .portfolio .window .content .side-bar .side-button {
        padding: 1px;
        gap: 2px;
    }

    .portfolio .window .content .side-bar .side-button .text {
        font-size: 4px;
    }

    .portfolio .window .content .side-bar .side-button .icon {
        width: 4px;
        height: 4px;
    }

    .portfolio .window .content .side-bar .logo {
        height: 10px;
        margin-bottom: 4px;
    }

    .header {
        width: calc(100% - 37px);
        height: 15px;
    }

    .header>div>.select {
        width: 45px;
        font-size: 4px;
        padding: 2px;
        border-radius: 2px;
    }

    .header .icon {
        width: 4px;
        height: 4px;
    }

    .header>div>.input {
        width: 60px;
        padding: 2px;
        border-radius: 2px;
        font-size: 4px;
    }

    .header>div>div {
        gap: 2px;
        font-size: 4px;
    }

    .tab-list {
        top: 20px;
        height: 10px;
        gap: 4px;
        width: calc(100% - 50px);
    }

    .tab-list .tab {
        width: 30px;
    }

    .filter-list {
        top: 30px;
        height: 20px;
        gap: 1px;
        width: calc(100% - 50px);
        right: 3px;
    }

    .filter-list .top .left {
        height: 10px;
        width: 100px;
    }

    .filter-list .top .right {
        height: 10px;
        width: 50px;
    }

    .content-wrap {
        height: 64%;
        top: 52px;
        width: calc(100% - 50px);
        gap: 2px;
    }

    .content-wrap {
        grid-template-areas: "d c";
        right: 3px;
    }

    .content-wrap .content-box:nth-child(1),
    .content-wrap .content-box:nth-child(2) {
        display: none;
    }

    .content-wrap .content-box {
        grid-template-areas:
            "a a . b"
            "c c . d"
            "e e e e"
            "f g h i"
            "j j k l";
        border-radius: 2px;
    }

    .content-wrap .content-box div {
        height: 10px;
    }

    .content-wrap .content-box div:nth-child(2) {
        width: 100%;
        margin-left: 0;
    }

    .content-wrap .content-box div:nth-child(3) {
        width: 100%;
    }

    .content-wrap .content-box div:nth-child(4) {
        width: 100%;
        margin-left: 0;
    }

    .content-wrap .content-box div:nth-child(10) {
        height: 20px;
    }

    .portfolio .window.on .t5 {
        transform: translate(10px, -10px);
    }

    section.history .history-wrap .text-box {
        height: 300px;
        width: 300px;
    }

    section.history .history-wrap .text-box .stack-box {
        height: 300px;
        width: 4px;
    }

    section.history .history-wrap .text-box .text::before {
        width: 20px;
        height: 20px;
    }

    section.history .history-wrap .text-box .text span {
        font-size: 14px;
    }

    section.history .history-wrap .text-box .text {
        font-size: 20px;
        gap: 8px;
        transform: translate(-8px, 0);
    }

    section.history .history-wrap .text-box .text .desc {
        width: 230px;
    }
}