*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SB-ag-L';

}

@font-face {
    font-family: 'SB-ag-M';
    src: url(/font/SB-ag-M.ttf);
}

@font-face {
    font-family: 'SB-ag-L';
    src: url(/font/SB-ag-L.ttf);
}

@font-face {
    font-family: 'SB-ag-B';
    src: url(/font/SB-ag-B.ttf);
}

::-webkit-scrollbar {
    appearance: none;
    display: none;
}

section.landing {
    width: calc(100vw);
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    ;
}

section.landing video {
    width: 100%;
    /* height: 100%; */
    object-fit: none;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.dummy {
    height: 1000vh;
}

div.logo-wrap {
    position: fixed;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(200%);
    transition: 0.1s;
}

div.logo-wrap.hidden {
    display: none;
}

div.logo-wrap .logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

div.logo-wrap .logo .symbol {
    height: 100px;
    width: 100px;
    background: url(/logo-s-white.png) no-repeat center / contain;
}

div.logo-wrap .logo .text {
    width: 100px;
    height: 20px;
    background: url(/logo-t-white.png) no-repeat center / contain;
}

.header-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 140px;
    z-index: 12;

    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    opacity: 0;
}

.header-wrap.on {
    width: 100%;
    opacity: 1;
    transition: 0.3s;
}

.header-wrap .logo {
    width: 100px;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
    pointer-events: none;
    background: url(/logo-s-white.png) no-repeat center / contain;
}

.header-wrap.on .logo {
    opacity: 1;
    pointer-events: all;
}

.header-wrap .menu-box {
    display: flex;
    gap: 16px;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
    pointer-events: none;
    align-items: center;
}

.header-wrap.on .menu-box {
    opacity: 1;
    pointer-events: all;
}

.header-wrap .menu-box .menu {
    font-size: 25px;
    font-weight: 700;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    /* padding: 16px 32px; */
    /* border: 1px solid white; */
    border-radius: 50px;
    padding: 0 16px;
    cursor: pointer;
}

.landing .content {
    position: absolute;
    width: 100%;
    height: calc(70vh);
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0);
    /* background-color: aquamarine; */
}

.landing .content .fade {
    /* display: flex; */
    position: relative;
}

.landing .content .title {
    font-family: 'sb-ag-b';
    font-size: 200px;
    color: white;
    margin-left: 30px;
    transition: 0.5s;
    opacity: 1;
    position: absolute;
}

.landing .content .title.hide {
    opacity: 0;

}

.landing .content .sub-title {
    font-family: 'sb-ag-b';
    font-size: 60px;
    color: white;
    margin-left: 30px;
    margin-top: 24px;
}

.landing .content .desc {
    font-family: 'sb-ag-l';
    font-size: 24px;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    padding-right: 100px;
}

.landing .content .text-wrap .text-box .slide {
    width: 1200%;
    display: flex;
    position: absolute;
    top: 400px;
    transition: trasform 0.2s;
    transition: opacity 0.5s;
    opacity: 1;
}

.landing .content .text-wrap .text-box .slide.hide {
    opacity: 0;
    pointer-events: none;
}

.landing .content .text-wrap .text-box .slide .text {
    width: 100%;
}

@media screen and (max-width: 1366px) and (orientation:landscape) {
    section.landing video {
        width: auto;
        height: 100%;
    }

    .landing .content .sub-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1200px) and (orientation:landscape) {
    section.landing video {
        width: 100%;
        height: auto;
    }

    .landing .content .sub-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1200px) and (orientation:portrait) {
    section.landing video {
        width: auto;
        height: 100%;
    }

    .landing .content .sub-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 800px) and (orientation:landscape) {
    section.landing video {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 800px) and (orientation:portrait) {
    section.landing video {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 480px) and (orientation:landscape) {
    section.landing video {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) and (orientation:portrait) {
    section.landing video {
        width: auto;
        height: 100%;
    }
}